<section class="py-5">
  <div class="hero">
    <img src="../../../../assets/images/hero.jpg" alt="hero" class="img-hero" />
    <!-- <span class="overlay-text">
      <h1>Ravel</h1>
      <h2>Travel Solution</h2>
    </span> -->
  </div>
</section>

<section class="py-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card">
        <img src="../../../../assets/images/beach.jpg" alt="beach" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <h2>Tujuan <span class="primary">Baru!</span></h2>
        <h3>Maldive, Surganya Dunia!</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
          vulputate erat sit amet malesuada lacinia. Maecenas hendrerit, nunc ac
          finibus interdum, metus nibh pharetra elit, in efficitur est sem ut
          nunc. Cras bibendum turpis tempor, eleifend leo vel, sodales ligula.
          Vestibulum pulvinar fringilla justo, ac dignissim sapien vulputate eu.
          Quisque bibendum sagittis orci, id dapibus quam tincidunt eget. Aenean
          suscipit ex ac ex facilisis, at ullamcorper nibh ultricies. Sed
          porttitor mi at leo suscipit tincidunt. Fusce molestie pharetra velit
          ac luctus. Donec feugiat dictum tellus, vitae vestibulum erat tempus
          quis. Maecenas suscipit porta ligula, ut mattis lacus ultrices sit
          amet. In scelerisque nibh at odio lobortis, ut venenatis eros cursus.
          Sed molestie purus ut eros pretium, et auctor tellus accumsan. Etiam
          posuere suscipit mi ac aliquet.
        </p>
        <p>
          Pellentesque vel elementum mauris. Integer mollis urna vitae euismod
          hendrerit. Vivamus convallis, quam id feugiat malesuada, lorem elit
          faucibus velit, a elementum ipsum ex et nulla. Fusce lacinia nec
          sapien eu mollis. Duis ut augue mollis, feugiat sapien non, porta
          velit. Phasellus quis vulputate ligula. Nam id enim a ligula tempus
          venenatis. Phasellus vulputate suscipit quam. Nulla vitae diam
          egestas, rutrum arcu vitae, euismod mi.
        </p>
      </div>
    </div>
  </div>
  <div class="row text-center py-3">
    <h1><span class="primary">Explore</span> Tempat Lainnya</h1>
  </div>
</section>

<section class="bg-light">
  <div class="row py-5 text-center">
    <div class="col-md-3">
      <figure class="figure">
        <img
          src="../../../../assets/images/bali.jpg"
          class="figure-img img-fluid rounded"
          alt="A generic "
        />
        <br />
        <span>Bali</span>
        <figcaption class="figure-caption">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.....
        </figcaption>
      </figure>
    </div>
    <div class="col-md-3">
      <figure class="figure">
        <img
          src="../../../../assets/images/bali.jpg"
          class="figure-img img-fluid rounded"
          alt="A generic "
        />
        <br />
        <span>Jakarta</span>
        <figcaption class="figure-caption">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.....
        </figcaption>
      </figure>
    </div>
    <div class="col-md-3">
      <figure class="figure">
        <img
          src="../../../../assets/images/bali.jpg"
          class="figure-img img-fluid rounded"
          alt="A generic "
        />
        <br />
        <span>Surabaya</span>
        <figcaption class="figure-caption">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.....
        </figcaption>
      </figure>
    </div>
    <div class="col-md-3">
      <figure class="figure">
        <img
          src="../../../../assets/images/bali.jpg"
          class="figure-img img-fluid rounded"
          alt="A generic "
        />
        <br />
        <span>Pulau Seribu</span>
        <figcaption class="figure-caption">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.....
        </figcaption>
      </figure>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card" style="border: 0">
        <img src="../../../../assets/images/thumbs.jpg" alt="beach" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <h2>Experience Nomor <span class="primary">Satu!</span></h2>
      </div>
      <br />
      <span>Dipercara Seluruh Dunia!</span>
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
          vulputate erat sit amet malesuada lacinia. Maecenas hendrerit, nunc ac
          finibus interdum, metus nibh pharetra elit, in efficitur est sem ut
          nunc. Cras bibendum turpis tempor, eleifend leo vel, sodales ligula.
          Vestibulum pulvinar fringilla justo, ac dignissim sapien vulputate eu.
          Quisque bibendum sagittis orci, id dapibus quam tincidunt eget. Aenean
          suscipit ex ac ex facilisis, at ullamcorper nibh ultricies. Sed
          porttitor mi at leo suscipit tincidunt. Fusce molestie pharetra velit
          ac luctus. Donec feugiat dictum tellus, vitae vestibulum erat tempus
          quis. Maecenas suscipit porta ligula, ut mattis lacus ultrices sit
          amet. In scelerisque nibh at odio lobortis, ut venenatis eros cursus.
          Sed molestie purus ut eros pretium, et auctor tellus accumsan. Etiam
          posuere suscipit mi ac aliquet.
        </p>
      </div>
      <button class="btn btn-success btn-custom" [routerLink]="['/ulasan']">
        Testimoni ->
      </button>
    </div>
  </div>
</section>
