/* You can add global styles to this file, and also import other style files */

$primaryColor: #4bff72;

.primary {
  color: $primaryColor;
}

.btn-custom {
  color: white;
  background-color: $primaryColor;

  &:hover {
    background-color: $primaryColor;
  }
}

.tour-image {
  width: 100%;
  height: 200px; /* You can adjust the height as needed */
  object-fit: cover;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

@import "~@fortawesome/fontawesome-free/css/all.css";
